{name, "erldis"}.
{authors, ["Valentino Volonghi","Jacob Perkins","Eric Cestari", "tonyg"]}.
{description, "redis erlang client library"}.
{homepage, "https://github.com/cstar/erldis"}.
{rebar_compatible, true}.
{license, "MIT", "LICENSE"}.
{url, {git, "https://github.com/cstar/erldis.git", {branch, "master"}}}.
{applications, [erldis]}.
