{name, "erldis"}.
{authors, ["iValentino Volonghi","Jacob Perkins","Eric Cestari", "tonyg"]}.
{description, "redis erlang client library"}.
{homepage, "https://github.com/cstar/erldis"}.
{rebar_compatible, true}.
{license, "MIT", "LICENSE"}.
{url, {git, "https://github.com/cstar/erldis.git", {tag, "2d09e9e2db07b7ba596842d7386a456e1cf69638"}}}.
{applications, [erldis]}.
